.partidos .centro {
padding-bottom:.25em;
padding-top:.25em;
test-align:center;
}

.partidos .equipo.centro {
border-top:1px solid #ccc;
}

.partidos .equipo.local {
border-top:1px solid #ccc;
padding:.25em 0;
text-align:right;
}

.partidos .equipo.visita {
border-top:1px solid #ccc;
padding:.25em 0;
text-align:left;
}

.partidos .fecha {
padding:.5em 0;
}

.partidos .goles.local {
padding:.25em 0;
text-align:right;
}

.partidos .goles.visita {
padding:.25em 0;
text-align:left;
}

.tabla td.goles {
text-align:right;
width:3em;
}

.tabla td.goles-diferencia {
text-align:right;
width:3em;
}

.tabla td.nombre {
width:10em;
}

.tabla td.partidos {
text-align:right;
width:3em;
}

.tabla td.puntos {
text-align:right;
width:4em;
}

.tabla thead {
border:solid 0 #999;
border-bottom-width:1px;
text-align:center;
}

a,a:visited,a:hover,a:active {
color:#6493D2;
}

.tabla th {
  text-align:center;
  padding: 0.25em;
}

.tabla td {
    padding: 0.25em;
border: 1px dotted #ddd;
}

.tabla tr {
border-bottom: 1px dotted #ddd;
line-height: 1.5em;
}

.tabla .fila-1, .tabla .fila-2, .tabla .fila-3, .tabla .fila-4 {
  background-color: #bbffbb;
}

.tabla .fila-5 {
  background-color: #ffffbb
}

.tabla .fila-6, .tabla .fila-7, .tabla .fila-8, .tabla .fila-9, .tabla .fila-10 {
  background-color: #ffbbbb
}

.pie {
  margin: 10px 0;
  height: 50px;
  background-image: url(images/pie-pagina.jpg);
  background-repeat: repeat-x;
}

.cabecera-pagina {
  height: 81px;
  margin-bottom: 10px;
  background-image: url(images/cabecera-pagina.jpg);
  background-repeat: repeat-x;}